# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Debugging / local vs code settings
/.vscode

#  VS Code
*.code-workspace

# git merge/rebase backup files
*.orig

.DS_Store

